<div id="threekit_asset_id" style="display: none;">{{ product.metafields.global.threekit_asset_id }}</div>
<div id="threekit_product_handle" style="display: none;">{{ product.handle }}</div>


<div id="threekit_product_title" style="display: none;">{{ product.title }}</div>
<div id="threekit_product_type" style="display: none;">{{ product.type }}</div>

{{ comment }}<div id="color_circle" style="display: none;">{{'ColorCircle.png' | asset_img_url: '300x'}}</div> {{ endcomment }}
<div id="lenguaje_world" style="display: none;">{{'lenguajeWorld.png' | asset_img_url: '300x'}}</div>

{{ comment }}
{%- if customer -%}	
	{%- if customer.tags contains "BRP Dealer" -%}
		<div id="brp_dealer_tag" style="display: none;">BRP_DEALER</div>
	{%- endif -%}
{%- endif -%}
{{ endcomment }}

<div id="root" ></div>
{{'main.js' | asset_url | script_tag}}
{{'production.js' | asset_url | script_tag}}

{{ comment }}{{ 'bootstrap.min.js' | asset_url | script_tag  }} {{ endcomment }}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag  }} 

<style>
.page-width {
 max-width: 1800px;
}


@media screen and (min-width: 769px) {
  .lg\:w-2\/5 {
    width: 40%;
    border: 1px solid #E3FC02;
    padding: 10px;
    box-shadow: 5px 8px 19px #E3FC02;
    background: #fff;
  }
}

a:empty, ul:empty, dl:empty, div:empty, section:empty, article:empty, p:empty, h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty {
  display: block;
}

</style>
