<div id="threekit_asset_id" style="display: none;">{{ product.metafields.global.threekit_asset_id }}</div>
<div id="threekit_product_handle" style="display: none;">{{ product.handle }}</div>


<div id="threekit_product_title" style="display: none;">{{ product.title }}</div>
<div id="threekit_product_type" style="display: none;">{{ product.type }}</div>

<div id="color_circle" style="display: none;">{{'ColorCircle.png' | asset_img_url: '300x'}}</div>
<div id="lenguaje_world" style="display: none;">{{'lenguajeWorld.png' | asset_img_url: '300x'}}</div>

{%- if customer -%}	
	{%- if customer.tags contains "BRP Dealer" -%}
		<div id="brp_dealer_tag" style="display: none;">BRP_DEALER</div>
	{%- endif -%}
{%- endif -%}

<div id="root" ></div>

{% if product.tags contains 'switch' %}
	{{'main-switch.js' | asset_url | script_tag}}
{% else %}
	{{'main.js' | asset_url | script_tag}}
{% endif %}

{% comment %}
	{{'main.js' | asset_url | script_tag}}
{% endcomment %}

{{'production.js' | asset_url | script_tag}}

{{ comment }}{{ 'bootstrap.min.js' | asset_url | script_tag  }} {{ endcomment }}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag  }} 

<style>
.page-width {
 max-width: 1800px;
}
</style>